/* COLORS
    GUINDA:
    color: #682444;
    AZUL
    color: #0151aa;

*/
.sectSliderM{
    position: relative;
    overflow: hidden;
}
    .artContentSlider{
        position: relative;
        width: 100%;
        height: 75vh;
        background-color: #682444;
        z-index: 10;
    }
        .navContentS{
            width: 100%;
            height: 100%;
        }
            .listContentS{
                height: 100%;
            }
                .itemLCS-I{
                    opacity: 0;
                    visibility: hidden;
                }
                .itemLCS-A{
                    position: absolute;
                    opacity: 1;
                    visibility: visible;
                }
                .itemListCS:hover{
                    filter: brightness(.85);
                    transition: 600ms ease;
                }
                .itemListCS{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Raleway', sans-serif;
                    cursor: pointer;
                    transition: 325ms ease;
                }
                    .contInfoLCS-I{
                        opacity: 0;
                        visibility: hidden;
                    }
                    .contInfoLCS-A{
                        opacity: 1;
                        visibility: visible;
                    }
                    .contInfoSliderNone{
                        display: none !important;
                    }
                    .contInfoLCS{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        gap: 1rem;
                        color: #fff;
                        border-radius: 15px;
                        z-index: 50;
                        text-align: center;
                        padding: 2rem 6rem;
                        transition: 300ms ease;
                    }
                        .mTLCS-I{
                            margin-right: 250rem;
                            transform: scale(0);
                            background-color: rgba(0, 0, 0, 0);
                        }
                        .mTLCS-A{
                            margin-right: 0;
                            transform: scale(1);
                            background-color: rgba(0, 0, 0, 0.35);
                        }
                        .mainTitleLCS{
                            width: 60vw;
                            font-size: 3.5vw;
                            text-align: center;
                            text-transform: uppercase;
                        }
                        .tILCS-I{
                            margin-left: 250rem;
                            transform: scale(0);
                            background-color: rgba(0, 0, 0, 0);
                        }
                        .mainTitleLCS, .textInfoLCS{
                            padding: 1rem 1.5rem;
                            border-radius: 15px;
                            text-shadow: 0 0 3px #fff;
                            transition: 2s ease;
                        }
                        .tILCS-A{
                            margin-left: 0;
                            transform: scale(1);
                            background-color: rgba(0, 0, 0, 0.35);
                        }
                        .textInfoLCS{
                            width: 40vw;
                            font-weight: bold;
                            font-size: 1.25vw;
                            text-align: center;
                        }

                    .elementOpaque{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: #000;
                        opacity: .3;
                        z-index: 10;
                        transition: 500ms ease;
                    }
                    .elementOPS-I{
                        opacity: 0;
                        visibility: hidden;
                    }
                    .elementOPS-A{
                        opacity: .3;
                        visibility: visible;
                    }

    .contArrowSlider{
        position: absolute;
        width: 2rem;
        top: 50%;
        background-color: #682444;
        border-radius: 0 10px 10px 0;
        padding: 1.25rem .25rem;
        cursor: pointer;
        transform: translateY(-50%);
        transition: 250ms ease;
        z-index: 40;
        user-select: none;
        box-shadow: 0 0 5px rgba(255, 255, 255, .75);
    }
    .AS-L:hover{
        padding-left: .75rem;
    }
    .AS-L{
        left: 0;
    }
    .AS-R:hover{
        padding-right: .75rem;
    }
    .AS-R{
        right: 0;
        border-radius: 10px 0 0 10px;
    }
        .arrowS{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.7rem;
        }
            .imgAS-R{
                transform: rotate(-180deg);
                margin-left: .25rem;
            }

    .buttonShowContentS{
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem .75rem;
        font-family: 'Inter', sans-serif;
        font-size: 13px;
        gap: .5rem;
        cursor: pointer;
        z-index: 50;
        transition: 450ms ease;
        border-radius: 5px;
        color: #fff;
        background-color: #682444;
        border-radius: 5px;
        user-select: none;
        box-shadow: 0 0 2.5px #fff;
    }
    .buttonShowContentS:hover{
        background-color: #fff;
        color: rgba(0, 0, 0, 0.85);
    }
    .buttonShowContentS:hover .imgBtnSCS{
        filter: brightness(.15);
    }
        .imgBtnSCS-I{
            position: absolute;
            left: .75rem;
            opacity: 0;
            visibility: hidden;
        }
        .imgBtnSCS-A{
            opacity: 1;
            visibility: visible;
        }
        .imgBtnSCS{
            width: 15px;
            filter: brightness(1);
            transition: 300ms ease;
        }
        .textBtnSCS{
            font-weight: bold;
        }

    .artProgressSlider-B{
        background-color: rgba(0, 0, 0, 0.3);
    }
    .artProgressSlider-T{
        background-color: rgba(0, 0, 0, 0);
    }
    .artProgressSlider{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: .5rem;
        z-index: 25;
        color: #fff;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        padding: .5rem 2rem;
        font-family: 'Raleway', sans-serif;
        user-select: none;
        border-radius: 10px 10px 0 0;
        transition: 400ms ease;
    }
        .contNumPS{
            text-shadow: 0 0 2px #000;
            font-size: 14px;
        }
        .contBallsPS{
            display: flex;
            align-items: center;
            gap: .5rem;
        }
            .ballPS:hover{
                background-color: rgba(255, 255, 255, 0.75);
            }
            .ballPS{
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #fff;
                cursor: pointer;
            }
            .ballPS-I{
                background-color: #fff;
            }
            .ballPS-A{
                background-color: #682444;
                transform: scale(1.15);
                box-shadow: 0 0 2px #fff;
                transition: 1.25s ease;
            }


.sectNewsMain{
    width: 100%;
    height: 8.5rem;
    background: linear-gradient(180deg, rgba(0,85,128,1) 0%, rgba(0,102,153,1) 75%, rgba(0,153,230,1) 100%);
}
    .navNewsMain{
        height: 100%;
        display: flex;
        align-items: center;
        overflow-x: scroll;
        transition: 250ms ease;
    }
    .navNewsMain::-webkit-scrollbar{
        width: 100%;
        height: 6px;
    }
    .navNewsMain::-webkit-scrollbar-thumb{
        background: rgba(255, 255, 255, 0.75);
        border-radius: 25px;
    }
    .navNewsMain::-webkit-scrollbar-thumb:hover{
        background: rgba(255, 255, 255, 1);
    }
    .navNewsMain::-webkit-scrollbar-thumb:active{
        background-color: rgba(255, 255, 255, 0.35);
    }
        .listNewsM{
            display: flex;
            align-items: center;
            gap: 2rem;
            list-style: none;
            padding: 0 2rem;
        }
            .titleNoItems{
                color: #fff;
                font-family: 'Rubik', sans-serif;
                text-transform: uppercase;
            }
            .itemNewsM{
                width: 21.5rem;
                height: 6rem;
                border-radius: 10px;
                overflow: hidden;
                background-color: #682444;
                cursor: pointer;
            }
                .imgItemNM{
                    width: 21.5rem;
                    height: 6rem;
					object-fit: contain;
                }

/* SECCION PRESENTACIÓN CECYT 3 */
.sectPresentation{
    position: relative;
    background: url(https://lh3.googleusercontent.com/p/AF1QipOcnL5N7JHKOeEzUqnW61v2gKcsrVo305_tdflE=s680-w680-h510);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #682444;
    background-attachment: fixed;
}
    .contentPresentation{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        z-index: 10;
        color: #fff;
        text-align: center;
        padding: 2rem 0;
        font-family: 'Raleway', sans-serif;
    }
        .firstInfoCP{
            display: flex;
            justify-content: center;
            gap: 1rem;
            align-items: center;
        }
            .imgInfoCP{
                width: 100px;
                background-color: #fff;
                border-radius: 50%;
                filter: drop-shadow(0 0 2.5px #fff);
            }
            .titleInfoCP{
                width: 50rem;
                font-size: 2.5rem;
                text-shadow: 0 0 5px #fff;
            }

        .secondInfoCP{
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .textInfoCP{
                font-size: 30px;
                text-shadow: 0 0 2px #fff;
            }

    .elementOpaquePresentation{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 5;
    }


/* SECCION ACCESOS DIRECTOS */
.sectEduLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #682444;
    font-family: 'Roboto', sans-serif;
    padding: .75rem 0;
    color: #fff;
    user-select: none;
}
    .navEduLinks{
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .listEduLinks{
            list-style: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            gap: 1.5rem;
        }
            .itemListEL:hover{
                background-color: rgba(255, 255, 255, 0.35);
                border-radius: 10px;
            }
            .itemListEL{
                width: 5rem;
                height: 8rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                text-align: center;
                padding: .25rem 1.5rem;
                transition: 400ms ease;
                cursor: pointer;
            }
                .imgListEL{
                    width: 55px;
                    height: 55px;
                }
                .textListEL{
                    font-weight: bold;
                    font-size: 18px;
                }

/* SECCION SLIDER - EVENTOS INSITUCIONALES */

    .artEventsSlider{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
        padding: 2rem 0;
    }
        .contArrowES{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .25rem;
            border-radius: 50%;
            background-color: #0151aa;
            cursor: pointer;
            user-select: none;
        }
            .arrowES{
                position: relative;
                right: .05rem;
                width: 25px;
            }
            .arrowES-R{
                right: 0;
                left: .05rem;
                transform: rotate(-180deg);
            }

.sectEventsSlider{
    background-color: rgba(2, 107, 178, .20);
    font-family: 'Roboto', sans-serif;
    padding: .5rem 0;
}
    .contTitleES{
        font-size: 20px;
        text-align: center;
        color: #0151aa;
        padding: 1rem 0 0 0;
    }
        .titleES{
            font-weight: bold;
            text-transform: uppercase;
        }

    .artEventsSlider{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border: none;
        scroll-behavior: smooth;
    }
        .navEventsSlider{
            width: auto;
            max-width: 85%;
            overflow-x: scroll;
            scroll-behavior: smooth;
            padding: 0 0 1rem 0;
        }
        .navEventsSlider::-webkit-scrollbar{
            width: 100%;
            height: 6px;
            cursor: grab;
        }
        .navEventsSlider::-webkit-scrollbar-thumb{
            background: #0151aa;
            border-radius: 25px;
        }
            .listEventsSlider{
                display: flex;
                align-items: center;
                gap: 2rem;
            }
                .itemListES:hover{
                    transform: scale(0.975);
                    box-shadow: 0 0 5px #ffffff;
                }
                .itemListES{
                    width: 12rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    border-radius: 7.5px;
                    overflow: hidden;
                    transition: 350ms ease;
                }
                    .contImgItemListES{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                        .imgItemListES{
                            width: 100%;
                        }

                    .contTextItemListES{
                        width: 100%;
                        background-color: #0151aa;
                        text-align: center;
                        color: #fff;
                        padding: .2rem 0;
                    }
                        .textItemListES{
                            font-size: 13px;
                            text-transform: uppercase;
                        }

/* SECCION CARRERAS TÉCNICAS */
.sectTechnicalCareers{
    background-color: rgba(2, 107, 177, .05);
    padding: 1.5rem 0;
    font-family: 'Roboto', sans-serif;
}
    .contTitleTC{
        text-align: center;
        color: #0151aa;
        font-size: 20px;
        text-transform: uppercase;
    }

    .navTechnicalC{

    }
        .listTechnicalC{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            list-style: none;
            gap: 1.5rem;
            padding: 2rem .5rem;
        }
            .itemListTC:hover{
                background-color: #0151aa;
                color: #fff;
            }
            .itemListTC{
                width: 8.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 1rem;
                padding: 1rem;
                transition: 450ms ease;
                border-radius: 12.5px;
                background-color: rgba(2, 108, 178, 0.05);
            }
                .imgItemListTC{
                    width: 55px;
                    height: 55px;
                    filter: drop-shadow(0 0 2.5px #fff);
                }
                .textItemListTC{
                    font-weight: bold;
                }

.previewIS-I{
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}
.previewIS-A{
    opacity: 1;
    visibility: visible;
    z-index: 5000;
}
.previewImageSlider{
    width: 100vw;
    height: 100vh;
    position: fixed;
    transition: 400ms ease;
}
img{
    user-select: none;
}

/* CARGANDO SLIDER */
.itemListCS{
    background-color: #fff;
}
.itemListCS img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 30;
}
.itemListCS > div{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .75rem;
    transform: translate(-50%, -50%);
}

.itemListCS > div div{
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border: 3.5px solid rgba(0, 0, 0, 0);
    border-top-color: #682444;
    border-radius: 50%;
    animation: loadingItemSlider 1s linear infinite;
    z-index: 25;
}
.itemListCS-charged div{
    display: none;
}
@keyframes loadingItemSlider {
    0%{
        transform: rotate(0);
    }

    50%{
        transform: rotate(100deg);
    }

    75%{
        transform: rotate(150deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.itemListCS p{
    color: #682444;
    font-weight: bold;
    text-transform: uppercase;
}